.container{
    max-width: 400px;
    min-width: 300px;
    width: 30vw;
    background-color: lighten(#263a47, 45%);
    padding: 20px;
    border-radius: 40px;
    margin: 20px;
}

.pic{
    min-height: 200px;
    height: 200px;
}

.cards-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.img-container{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    background-color: lighten(#263a47, 20%);
}


.heading{
    h1{
        font-family: "Montserrat";
        font-size: 25px;
        text-align: center;
        color: white;
    }
    p{
        font-family: "Quicksand";
        font-size: 25px;
        text-align: center;
        color: white;
    }
}