.container{
    max-width: 400px;
    width: 30vw;
}

.pic{
    max-height: 200px;
}

.img-container{
    display: flex;
    justify-content: center;
}

.heading{
    h1{
        font-family: "Montserrat";
        font-size: 25px;
        text-align: center;
    }
    p{
        font-family: "Quicksand";
        font-size: 25px;
        text-align: center;
    }
}